{%extends "base.html"%}

{% block content %}
<!-- Top nav bar logo and text -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">
        <img src="{{ url_for('static', filename='chicken_tenders.svg') }}" width="100" height="54" class="d-inline-block align-centre" alt="">
        Team Chicken Tenders <sup>©</sup>
    </a>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Image to STL</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/library">Library</a>
        </li>
    </ul>
</nav>
</br>
    
<p><h1 align="center">Image to STL converter</h1></p>
<div class="container">
<div class="row">
    <h2>Select an image to convert to STL.</h2>
    <form method="post" action="/" enctype="multipart/form-data">
        <dl>
            <p>
                <input type="file" name="file" class="form-control" autocomplete="off" required accept=".png, .jpg, .gif, .jpeg">
            </p>
        </br>
        </dl>
        <p>
            <input type="submit" value="Convert" class="btn btn-info">
        </p>

        <h2>
            {{ output_message }}
        </h2>
    </form>
</div>
</div>

{% endblock %}